<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="title" content="@ViewData["MetaTitle"]" />
    <meta name="description" content="@ViewData["MetaDes"]" />
    <meta name="keywords" content="@ViewData["MetaKeyword"]" />
    <meta name="google-site-verification" content="SxLmvECDWTwdZezz26se4jZniFTTTxka1fSn_gAvKYE" />
    <link rel="canonical" href="https://videodownhd.com/" />
    <link rel="icon" type="image/x-icon" href="~/imgs/favicon.png">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/circle.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/style/style.css" />
        <link rel="stylesheet" href="~/font/font-style.css" />
        <link rel="stylesheet" href="~/style/header.css" />
        <link rel="stylesheet"href="~/style/home.css"  />

        @* Link fontawesome *@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.AntiForgeryToken()
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 box-nav p-2">
            <div class="container header__container">
              @*  <span class="p-2 pr-0"><img src="/imgs/favicon.png" /></span>*@
                <a class="navbar-brand logo" href="/"><spam class="text-uppercase">V</spam>ideo<span class="text-uppercase">D</span>own<span class="text-uppercase">HD</span></a>

                <button class="navbar-toggler collapsed text-right flex-grow-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navbarButton">
                    <span class="navbar-toggler-icon" style="text-align: center; line-height: 2rem;"><i class="fas fa-bars"></i></span>
                </button>
                <div class="navbar-collapse flex-sm-row collapse show box__menu">

                    <ul class="navbar-nav flex-row flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/guide">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/faq">Faq</a>
                        </li>
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
           
        </nav>
        @*<img src="./imgs/promo-icon-bg.svg" alt="Alternate Text" />*@
    </header>
    
    <main role="main" class="px-3 pb-5">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2020 - Download videos
        </div>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167588296-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167588296-1');
    </script>
   <script>
       var idBtn = document.querySelector(".collapse");
       let i = true;
       function show() {
           
           if (i) {
               idBtn.style.display = "flex";
               i = false;
           }
           else {
               idBtn.style.display = "none";
               i = true;
           }
       }

       
   </script>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>

        window.fbAsyncInit = function () {
            FB.init({
                appId: '838774459977489',
                status: true,
                cookie: true,
                xfbml: true,
                oauth: true,
                version: 'v7.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=838774459977489&autoLogAppEvents=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '597283467858796');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=597283467858796&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script src="https://www.google.com/recaptcha/api.js?onload=initCaptcha&render=explicit" async defer></script>
    @RenderSection("ScriptsInclude", required: false)
    <environment include="Development">
        <script src="~/lib/vue/vue.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/sweetalert/sweetalert.min.js"></script>
        <script src="~/js/core.js"></script>
        <script src="~/js/home.js"></script>
        <script src="~/js/change-password.js"></script>
        <script src="~/js/upgrade.js"></script>
        <script src="~/js/get-video.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/libs.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
