@model IEnumerable<DownloadVideoTiktok.Models.ExtractorItemModel>

@if (!Model.Any())
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Alert</strong> Please check your url info.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row mt-1">
    <div class="col-md-6">
        <strong>Total: @Model.Count() videos</strong>
    </div>
    <div class="col-md-6 text-right">
        @*<button type="button" class="btn btn-info btn-download-zip">Download ZIP</button>*@
        <button type="button" class="btn button--down btn-download-all">Download All</button>
    </div>
</div>
<div class="tbl-list mt-3 tableFixHead">
    <table class="table table-result">
        <thead>
            <tr>
                <th class="no" style="min-width: 120px">
                    <label for="checkAll" class="m-0 border p-2 rounded cursor-point">Select All</label>
                    <input id="checkAll" type="checkbox" class="tbl-check-all d-none" />
                </th>
                <th>No.</th>
                <th colspan="2">Avatar</th>
                <th>Link</th>
                <th>Status</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((v, i) => new { Index = i, Value = v }))
            {
            <tr>
                <td>
                    <input type="checkbox" class="tbl-check" data-item="@item.Value.Id" />
                </td>
                <td>
                    @(item.Index + 1)
                </td>
                <td class="box--img position-relative" colspan="2">
                    <img src="@item.Value.Avatar" class="w-100 h-100 img-fluid position-absolute left-0 top-0" alt="how to download @item.Value.Name.ToLower() videos without watermark" />
                </td>
                <td>
                    <a href="@item.Value.Source" target="_blank">Open link</a>
                </td>
                <td>
                    @(item.Value.Status ? "OK" : "Failed")
                </td>
                <td>
                    @if (ViewBag.IsVip)
                    {
                        <div class="loading-download c100 p0 small green">
                            <a href="javascript:;" class="btn-download-video" data-id="@item.Value.Id" data-trigger="1">
                                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z" clip-rule="evenodd" />
                                    <path fill-rule="evenodd" d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z" clip-rule="evenodd" />
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z" clip-rule="evenodd" />
                                </svg>
                            </a>
                            <a href="javascript:;" class="btn-save-video d-none">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z" fill="#4db53c" fill-rule="nonzero" />
                                        <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5" />
                                    </g>
                                </svg>
                            </a>
                            <span class="d-none">0%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    }

                    @if (!ViewBag.IsVip)
                    {
                        <a href="/@item.Value.Name.ToLower().Replace("extractor", string.Empty)?url=@item.Value.Source" target="_blank">
                            <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z" clip-rule="evenodd" />
                                <path fill-rule="evenodd" d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z" clip-rule="evenodd" />
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    }

                    @*<a href="@item.Value.LinkDownloadVideo" target="_blank">
                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z" clip-rule="evenodd" />
                </svg>
            </a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>