@model DownloadVideoTiktok.Models.PageListModel<DownloadVideoTiktok.Models.HistoryDownload>

@{
    Layout = "_Layout";
}


<div class="container-fluid">

    <!-- Page Heading -->
    @*<h1 class="h3 mb-4 text-gray-800">Article</h1>*@
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">List history downloads (@Model.Total)</h6>
        </div>
        <div class="card-body">
            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_TableHeadPartial.cshtml")
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            No.
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            User ID
                        </th>
                        <th>
                            Source
                        </th>
                        <th>
                            DateCreate
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List.Select((v, i) => new { Index = i, Value = v }))
                    {
                    <tr>
                        <td>
                            @(item.Index + 1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value.Source)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value.DateCreated)
                        </td>
                        <td>
                            @if (item.Value.IsActive.HasValue && item.Value.IsActive.Value)
                            {
                                <span class="badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-warning">Unactive</span>
                            }
                        </td>
                        <td>
                            <a href="/admin/historydownload/details/@item.Value.Id" class="btn btn-primary btn-circle btn-sm">
                                <i class="fa fa-search"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            @await Html.PartialAsync("~/Views/Shared/_PagingPartial.cshtml", Model.Paging)
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}